{%extends "base/base.html"%}
{% load static %}

{% block content %}
<div class="container" style="width: 600px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h3 class="text-center">Welkom op de website van de Apotheek</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <p>Als erkende apotheek verwelkomen wij u graag in onze vestiging. <br>
                            Met een toegewijd team van farmaceutische experts staan wij klaar om u te voorzien van hoogwaardige zorg en advies op het gebied van gezondheid en medicatie. 
                            Ons doel is om uw gezondheid en welzijn te ondersteunen door het leveren van veilige en effectieve geneesmiddelen,
                            evenals persoonlijke begeleiding bij het gebruik ervan. Of u nu een recept heeft van uw arts, op zoek bent naar advies
                            over zelfzorgmedicatie of meer informatie nodig heeft over gezondheidsgerelateerde onderwerpen, ons team staat klaar om u te helpen.
                            Bij onze apotheek kunt u rekenen op een professionele en vertrouwelijke benadering, waarbij uw gezondheid altijd centraal staat.
                            We streven ernaar om een betrouwbare partner te zijn in uw zorgtraject en streven naar optimale gezondheidsresultaten voor u en uw familie.
                            Bezoek onze apotheek en ervaar onze uitgebreide diensten en persoonlijke zorg die we met veel toewijding bieden.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}